*, html, body{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}


table {
  width: 85%;
  margin: 0 auto;
}

table td{
  border: 1px solid;
}

table thead{
  background-color: gray;
  color: white;
}


.centered{
  display: flex;
  justify-content: center;
}
.create-note-form{
  width: 65%;
  margin: 0 auto;
  background-color: gray;
  padding: 5px;
}

.create-note-form.hidden{
  display: none;
}

.create-note-form * {
  width: 100%;
  padding: 5px;
}
.material-icons{
  background-color: gray;
  padding: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;

}

tr.archived{
  background-color: red;
  visibility: hidden;
  height: 1px;
  display: none;
}


body{
  /*background-color: lightblue;*/
}
